<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen">

    <!-- Navbar -->
    <nav class="w-full bg-white shadow-lg">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <a href="{{ url_for('show_gallery') }}"><h1 class="text-3xl font-bold mb-8 py-2">Image Gallery</h1></a>
            <!-- Right: View and Upload Buttons -->
            <div class="flex space-x-4">
                <a href="{{ url_for('view_image', image='nature.jpeg')}}"><button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
                    View
                </button></a>
                <a href="{{ url_for('upload') }}"><button class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">
                    Upload
                </button></a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto p-4 flex-grow flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h2 class="text-2xl font-bold mb-4 text-center">Upload Image</h2>
            <form action="#" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="file">
                        Select Image (JPEG ONLY)
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="file" type="file" name="file" accept="image/*">
                </div>
                <div class="flex items-center justify-center">
                    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline" type="submit">
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
